
/* Logo styles */
#logo {
    background-color: #f73b3b;
    color: white;
}

/* Heading styles */
h1 {
    color: #ffffff;
    font-size: 4em;
}

p {
  color: #ffffff;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1000;
}
